/build/
/nbproject/
/dist/
/.idea/ant.xml
/out/production/Solitarios/sistema/Bitacora.class
/out/production/Solitarios/solitarios/Juegos/Juego.class
/out/production/Solitarios/sistema/Jugador.class
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/out/production/Solitarios/sistema/Sistema.class
/.idea/vcs.xml
